@{
    ViewData["Title"] = "About";
}

<style>
    h1{
        text-align: center;
    }
    
</style>
<body>
<h1>About the Project</h1>
<hr class="mb-3 mt-1"/>
<div class="container-md">
    <p>
        This is an application made for PROG8550 in 2023, by Jeffrey Smith. It allows you to create, edit, and delete notes
        with start and end times, a numeric priority, and add tags to them (separated by commas). You can also choose to share the note,
        and if you do, you'll be provided a QR code others can use to access your note (read only access). If you decide
        you don't want to share it anymore, others will not be able to access the note, even if you've previously shared
        it with them.
    </p>
</div>
</body>
